{
  "rules":{
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
      "prefer-destructuring": ["error", {"object": false, "array": false}],
    "no-extra-semi": "off",
    "semi": "off"
  },
  "extends": "standard",
  "env":{
    "node": true,
    "mocha": true,
    "es6": true
  }
}
